@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Muli', sans-serif;
}

$backgroundColor: #282b34;
$redColor: #ff1e56;
$yellowColor: #ffac41;
$greyColor: #2d343e;

.weather-layout {
  display: flex;
  height: 90vh;
  // background-color: navy;
}
.weather-left {
  flex-basis: 60%;
  background-color: navy;
}
.weather-right {
  flex-basis: 40%;
  background-color: #2a4266;
}
.weather-info {
}
.weather-data {
  display: flex;
}

.temp {
  font-size: 65px;
  font-weight: 600;
  margin-right: 15px;
}

.weather-data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 130px;
  max-width: 100%;
  z-index: 1;
}

.city {
  font-size: 40px;
}

.time span {
  display: inline-block;
  padding: 0 5px;
}

.weather-left {
  background-image: url('./pages/baloon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(36, 57, 90, 0.64);
    height: 100%;
    width: 100%;
    left: 0;
  }
}

.weatherSpaceBox {
  input[type='text'] {
    width: 65%;
    padding: 8px 15px;
    height: 50px;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #333;
    &:focus {
      outline: none;
    }
  }
  .btn {
    background: #132c52;
    padding: 15px 35px;
    border: none;
    height: 51px;
    cursor: pointer;
  }
}
