.mainLft {
  height: 91vh;
  width: calc(100% - 35%);
  // background: #000;
  background-image: url('./loginPage.jpg');
  float: left;
  background-size: cover;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 44, 82, 0.64);
    left: 0;
  }
}

.mainRight {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getway-box {
  max-width: 450px;
  margin: 0 auto;
  width: 96%;
}

.mainRight .formGroup {
  margin-bottom: 15px;
}

.mainRight .formGroup input,
.mainRight .formGroup input:hover,
.mainRight .formGroup input:focus {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #b1b1b1 !important;
  padding: 10px;
  border: none;
  outline: none;
  color: #000;
}

.getway-box h1 {
  color: #000;
  margin-bottom: 30px;
}

.btnSubmit {
  font-size: 1rem;
  min-width: 100%;
  border: none;
  background-color: #132c52;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
}
